body {
  background-image: url("/assets/images/background.jpg");
  padding-top: 70px;
}
#scrape {
  margin: 8px 0px;
}

#navbar {
  background-color: aliceblue;
}

.container .jumbotron {
  background-color: aliceblue;
}

.deleteNote {
  display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%;
}
